[Desktop Entry]
Name=KeskOS SPLIT
Comment=Retro-industrial orange-on-black window decoration for KeskOS
X-KDE-PluginInfo-Name=KeskOS-SPLIT
X-KDE-PluginInfo-Author=memegeko
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-EnabledByDefault=true
