[Desktop Entry]
Type=Application
Version=1.0
Name=KESKOS Browser
Comment=Open the browser from KeskOS
Exec=/usr/local/bin/keskos-launcher --action browser
Icon=internet-web-browser
Terminal=false
StartupNotify=false
Categories=Network;Utility;
X-KDE-Shortcuts=Meta+W
